# SPDX-License-Identifier: GPL-2.0-only
#
# Red Hat specific options
#

menu "Red Hat options"

config RH_DISABLE_DEPRECATED
	bool "Remove support for deprecated features"
	help
	  Red Hat may choose to deprecate certain features in its kernels.
	  Enable this option to remove support for hardware that is no
	  longer supported.

	  Unless you want a restricted kernel, say N here.

config RH_FEDORA
	bool "Used to determine if a configuration targets Fedora"
	help
	  Fedora and the Always Ready kernel are maintained side-by-side. This
	  configuration is used to determine if a configuration is targeting
	  Fedora, mainly for patches that add configuration options specifically
	  for Fedora or EL kernels. An example of this is Fedora changing the
	  FORCE_MAX_ZONEORDER default for ARM.

endmenu
